.game-board {
  margin-top: 3em;
  display: grid;
  grid-column-gap: 30px;
  grid-template: auto / repeat(5, minmax(100px, 1fr));
}

.game-details {
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  justify-items: center;
  display: grid;
  grid-template-areas: "Total Total RestartGame"
                       "Resistance Spy SelectGame";
  grid-row-gap: 0.5em;
  border-bottom: 3px double #eee;
}

#total-players {
  grid-area: Total;
}

#resistance-players {
  grid-area: Resistance;
}

#spy-players {
  grid-area: Spy;
}

#restart-game {
  grid-area: RestartGame;
}

#select-game {
  grid-area: SelectGame;
}

button {
  height: 2.5em;
  width: 17em;
  padding-left: 4px;
  padding-right: 4px;
}

img {
  padding: 0.5em 0;
  width: 5em;
}

/* When we deal with various screen size and orientation */

@media (max-width: 700px) {
  .game-board {
    margin-top: 1em;
    grid-template: repeat(5, minmax(100px, 1fr)) / auto;
  }
  img {
    width: 8em;
  }
  .game-mission {
    border-bottom: 2px solid #eee;
  }
  .game-details {
    padding-left: 0;
    padding-right: 0;
    grid-template-areas: "Total Total"
                         "Resistance Resistance"
                         "Spy Spy"
                         "RestartGame SelectGame";
  }
  button {
    width: 90%
  }
}

@media (max-width: 360px) {
  .game-details {
    grid-template-areas: "Total"
                         "Resistance"
                         "Spy"
                         "RestartGame"
                         "SelectGame";
  }
  button {
    width: 80%;
  }
}
